@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .works {
        @apply cursor-works
    }
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'SpoqaHanSansNeo';
    text-align: left;
    letter-spacing: 0;
}