@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .works {
        @apply cursor-works
    }
}

html {
    scroll-behavior: smooth;
    font-family: SpoqaHanSansNeo;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*body{*/
/*    font-family: Montserrat;*/
/*}*/